<footer class="footer mt-auto py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-start">
        <div class="developer-info">
          <img 
            src="https://github.com/Shahlan-Mourad.png" 
            alt="Shahlan Mourad" 
            class="profile-image mb-2"
          />
          <h5 class="mb-1">Shahlan Mourad</h5>
          <p class="text mb-0">Full Stack Developer</p>
        </div>
      </div>
      
      <div class="col-md-4 text-center my-3 my-md-0">
        <div class="social-links">
          <a 
            href="https://github.com/Shahlan-Mourad" 
            target="_blank" 
            rel="noopener noreferrer"
            class="social-link"
          >
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a 
            href="mailto:shahlan.mourad@gmail.com" 
            class="social-link"
          >
            <i class="fas fa-envelope fa-2x"></i>
          </a>
          <a 
            href="https://www.linkedin.com/in/shahlan-mourad-30256a335" 
            target="_blank" 
            rel="noopener noreferrer"
            class="social-link"
          >
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>
      
      <div class="col-md-4 text-center text-md-end">
        <p class="mb-0">
          © {{ currentYear }} Books App
          <br />
          <small class="text-muted">All rights reserved</small>
        </p>
      </div>
    </div>
  </div>
</footer> 